@import './Vars.scss';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Prompt', sans-serif;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  background: $orange;
  color: white;
  border-radius: 40px;
  border: none;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 13px 24px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  cursor: pointer;
}

.clear {
  background: none;
  border: 2px solid $orange;
  color: $orange;
}
